@model SitioWeb10_HR100621.Models.Products

@{
    ViewBag.Title = "Detalles del Producto";
}

<h2>Detalles del Producto</h2>

<div>
    <h4>Productos Registrados</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.QuantityPerUnit)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.QuantityPerUnit)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.UnitsInStock)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.UnitsInOrder)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.UnitsInOrder)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Categories.CategoryName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Categories.CategoryName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Suppliers.CompanyName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Suppliers.CompanyName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ProductID }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Volver a la Lista", "Index", null, new { @class = "btn btn-secondary" })
</p>
