@model IEnumerable<SitioWeb10_HR100621.Models.Categories>

@{
    ViewBag.Title = "Categorías de productos";
}

<h2>Información de categorías de productos registrados</h2>

<p>
    @Html.ActionLink("Crear Categoría", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                Nombre de la Categoría
            </th>
            <th>
                Descripción
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.CategoryID }, new { @class = "btn btn-warning btn-sm" }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.CategoryID }, new { @class = "btn btn-info btn-sm" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.CategoryID }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
